<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Iaas</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Login Servlet</servlet-name>
		<servlet-class>com.Iaas.Servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login Servlet</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>createSensorServlet</servlet-name>
		<servlet-class>com.Iaas.Servlets.CreateSensorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createSensorServlet</servlet-name>
		<url-pattern>/createSensor</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>createHubServlet</servlet-name>
		<servlet-class>com.Iaas.Servlets.CreateHubServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createHubServlet</servlet-name>
		<url-pattern>/createHub</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>viewSensors</servlet-name>
		<servlet-class>com.Iaas.Servlets.ViewSensorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewSensors</servlet-name>
		<url-pattern>/viewSensors</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>startSensor</servlet-name>
		<servlet-class>com.Iaas.Servlets.StartSensorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>startSensor</servlet-name>
		<url-pattern>/startSensor</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>stopSensor</servlet-name>
		<servlet-class>com.Iaas.Servlets.StopSensorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stopSensor</servlet-name>
		<url-pattern>/stopSensor</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>terminateSensor</servlet-name>
		<servlet-class>com.Iaas.Servlets.TerminateSensorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>terminateSensor</servlet-name>
		<url-pattern>/terminateSensor</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>billing</servlet-name>
		<servlet-class>com.Iaas.Servlets.BillingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>billing</servlet-name>
		<url-pattern>/billing</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>payment</servlet-name>
		<servlet-class>com.Iaas.Servlets.PaymentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>payment</servlet-name>
		<url-pattern>/payment</url-pattern>
	</servlet-mapping>	
	<listener>
		<listener-class>com.Iaas.Util.Listener</listener-class>
	</listener>
</web-app>
